{% extends 'base.html' %}
{% block body_block %}
<style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
h1{
    text-align: center;
    color: #4CAF50;
     }
}
</style>
    <body>
    <div class="container">
        <h1><em>GeoSpoc Project</em></h1>
<h2>
    Wel-Come To GEOSPOC World..!
</h2>
  
</div>
</body>

{% endblock %}