  {% extends 'base.html' %}
        {% block body_block %}
<style>
    button{
        width: min-content;
    }
    input{
        padding-top: 5px;
        padding-bottom: 5px;
        margin-bottom: 10px;
        text-align: center;
        color: black;
        width: max-content;
    }
</style>

<div class="container">
<form method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" aria-describedby="emailHelp" placeholder="Enter username"><br>

    <label for="password">Password</label>
    <input type="password" name="password"  placeholder="Password"><br>

  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
    {% csrf_token %}

</form>

  {% endblock %}
</div>
    </div>